DTD_Ejercicio1.dtd

<!ELEMENT minecraftItems (item+)>
<!ELEMENT item (name,type,rarity,damage,description)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST minecraftItems lang CDATA #REQUIRED>
<!ATTLIST item id CDATA #REQUIRED>
