DTD_Ejercicio2.dtd

<!ELEMENT minecraftItems (item+)>
<!ELEMENT item (name,type,damage?,description, materials,enchantments)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST minecraftItems lang CDATA #REQUIRED>
<!ATTLIST item id ID #REQUIRED
               rarity (comun|raro|epico) #REQUIRED
               crafteable (true|false) #REQUIRED
               encantable CDATA #REQUIRED>